body {
  font-family: 'Slabo 27px', serif;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 400;
  background-repeat: no-repeat;
  background-color: black;
  background-size: contain;
}
h1 {
  color: #fdd212;
  font-size: 150px;
}
h2 {
  color: #fdd212;
  font-size: 60px;
}
td {
  color: white;
  font-size: 30px;
}
